{{#if hasProducts}}
  <ul>
    {{#each products}}
      <li><p>{{this.productData.title}} ({{this.qty}})</p>
        <form action="/cart/delete-item" method="POST">
          <input
            type="hidden"
            name="productId"
            value="{{this.productData.id}}"
          />
          <button class="btn" type="submit">Delete</button>
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <h1>No products in your cart</h1>
{{/if}}